section#about {
    background: $darkGrey;
    padding: 50px 0;
    .wrapper {
        flex-direction: column;
        .iconBlockContainer {
            display: flex;
            margin-top: 60px; 
            justify-content: space-between; 
            .iconBlock {
                width: 32%;
                background: $middleGrey;
                text-align: center;
                .iconImg {
                    width: 30%;
                    margin: 0 auto;
                    padding-top: 50px;
                    img {
                        width: 100%;
                    }
                }
                h4 {
                    color: #fff;
                    font-size: 1.45rem;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                p {
                    font-size: 1rem;
                    font-weight: 300;
                    color: $pGrey;
                    line-height: 1.5;
                    padding: 0 10%;
                    margin-bottom: 15%;
                }
            }
            .first {
                border-bottom: 10px solid $underYellow;
            }
            .second {
                border-bottom: 10px solid $underRed;
            }
            .third {
                border-bottom: 10px solid $underGreen;
            }
        }
    }
}
//media query for large screen size including PSD specifications
@media (min-width: 1280px) and (max-width: 1920px) {
    section#about .wrapper .iconBlockContainer .iconBlock {
        margin-bottom: 20px;
        h4 {
            font-size: 2.4rem;
        }
        p {
            font-size: 1.6rem;
            margin-bottom: 10%;
        }
    }
}

//mid-size screens (tablets etc) 
@media (max-width: 815px) {
    section#about .wrapper {
        .desc {
            width: 80%;
        }
        .iconBlockContainer {
            flex-direction: column;
            align-items: center;
            .iconBlock {
                width: 60%;
                margin-bottom: 15px;
                p {
                    font-size: 1.4rem;
                }
            }
        }
        .iconBlockContainer .first {
            align-self: flex-start;
            position: relative;
            &::after {
                content: "";
                display: inline-block;
                height: 1px;
                width: 60%;
                border-bottom: 2px dashed $pGrey;
                position: absolute;
                top: 50%;
                left: 90%;
            }
        }
        .iconBlockContainer .third {
            align-self: flex-end;
            position: relative;
            &::after {
                content: "";
                display: inline-block;
                height: 1px;
                width: 60%;
                border-bottom: 2px dashed $pGrey;
                position: absolute;
                top: 50%;
                right: 90%;
            }
        }
    }
}

//media query for landscape phones and down
@media (max-width: 480px) {
    section#about .wrapper {
        .iconBlockContainer {
            flex-direction: column;
            .iconBlock {
                width: 100%;
                margin-bottom: 20px;
                p {
                    font-size: 1.2rem;
                    margin-bottom: 15px;
                }
            }
        } 
    }
}