section#blog {
    background: $darkest;
}
//blog previews section
.blogPreviews {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .blogLeft, 
    .blogRight {
        width: 48%;
        text-align: center;
        h4, h5 {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: capitalize;
            margin: 0;
        }
        h4 {
            margin-top: 17px;
        }
        h5 {
            font-family: $fontSecondary;
            font-size: 0.7rem;
            text-transform: uppercase;
        }
        .descBlog {
            font-size: 0.96rem;
            line-height: 1.5;
            color: $pGrey;
            width: 80%;
            margin: 7px auto;
        }
    }
    .blogLeft {
        margin-right: 20px;
        background: $teamGrey;
        border-bottom: 10px solid $backYellow;
        img {
            width: 100%;
        }
        .description {
            padding: 15px 10px;
        }
        .blogIcons {
            width: 30%;
        }
    }
    .blogRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .rightTop, 
        .rightBottom {
            background: $teamGrey;            
            width: 100%;
            display: flex;
            flex-direction: row;
            .image {
                width: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .description {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .rightTop {
            border-right: 10px solid $backRed;
            margin-bottom: 20px;
        }
        .rightBottom {
            border-right: 10px solid $underGreen;
        }
    }
}
.blogBottom {
    width: fit-content;
    width: -moz-fit-content;
    margin: 20px auto;
    .buttonWhite {
        background: transparent;
        color: #fff;
    }
    .buttonWhite:hover {
        background: #fff;
        color: $textBlack;
    }
}

//media query for large screen size including PSD specifications
@media (min-width: 1280px) and (max-width: 1920px) {
    .blogPreviews {
        .blogLeft, .blogRight {
            h4 {
                font-size: 2.4rem;
            }
            h5 {
                font-size: 1.2rem;
            }
            .descBlog {
                font-size: 1.6rem;
            }
        }
    }
}

//media query for mid screen sizes (tablet)
@media (max-width: 815px) {
    .blogPreviews {
        .blogLeft, .blogRight {
            width: 90%;
            margin: 20px auto;
            .description {
                .descBlog {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
//media query for mobile screen sizes
@media (max-width:480px) {
    .blogPreviews {
        .blogRight {
            .rightTop,
            .rightBottom {
                flex-direction: column;
                .image, 
                .description {
                    width: 80%;
                    margin: 10px auto;
                }
            }
            .rightTop {
                border-right: none;
                border-bottom: 10px solid $underRed;
            }
            .rightBottom {
                border-right: none;
                border-bottom: 10px solid $underGreen;
            }
        }
    }
}