section#contact {
    background: $darkest;
    .desc {
        margin-bottom: 30px;
    }
    //social icons styled by utility class
    form {
        width: 50%;
        margin: 0 auto 30px;
        display: flex;
        flex-flow: column wrap;
        input:not(:last-of-type), 
        textarea {
            text-align: center;
            margin: 10px 0;
            padding: 10px;
            border: none;
            background: $teamGrey;
            color: $pGrey;
            &:focus {
                border: 1px solid $backRed;
                background: white;
            }
        }
        textarea {
            resize: none;
        }
        .buttonWhite {
            margin: 10px auto;
            background: transparent;
            color: #fff;
        }
        .buttonWhite:hover {
            background: #fff;
            color: $textBlack;
        }
    }
}
//media query for large screen size including PSD specifications
@media (min-width: 1280px) and (max-width: 1920px) {
    section#contact {
        form {
            input:not(:last-of-type), 
            textarea {
                font-size: 1.6rem;
                padding: 20px;
            }
            .buttonWhite:hover {
                background: #fff;
                color: $textBlack;
            }
        }
    }
}
//media to increase form size on smaller screens (tablet --> mobile) 
@media (max-width: 815px) {
    section#contact form {
        width: 70%;
    }
}
