.footerTop {
    background: linear-gradient(90deg, $lightWhite 50%, $darkWhite 50%);
    padding: 10px;
    .footerContainer {
        margin: 40px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .footerFourth {
            width: calc(25% - 15px);
            margin: 0 5px;
            h4 {
                margin: 10px 0;
                font-size: 1.5rem;
                color: $textBlack;
                font-weight: 700;
            }
            p {
                font-size: 1rem;
                font-weight: 300;
                color: $pGrey;
                line-height: 1.5;
                margin: 0;
            }
            img {
                width: 100%;
            }
            .imgHolder {
                width: 40%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;   
                }
            }
            .postPreview {
                display: flex;
                justify-content: space-between;
                margin-bottom: 7px;
                .imgholder {
                    width: 30%;
                    img {
                        width: 100%;
                    }
                }
                .postDesc {
                    width: 60%;
                    p {
                        color: #242424;
                        line-height: 1.2;
                    }
                    .postDate {
                        color: $pGrey;
                        margin: 2px 0;
                    }
                }
            }
            form {
                width: 100%;
                input[type=email] {
                    width: 65%;
                    margin-top: 5px;
                    padding: 6px;
                    border: none;
                    background: #EBEBEB;
                }
                input[type=submit] {
                    width: 30%;
                    margin-top: 5px;
                    margin-left: 3px;
                    border: 2px solid $backRed;
                    background: transparent;
                    font-size: 0.72rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $backRed;
                    padding: 5px;
                }
                input[type=submit]:hover {
                    background: $backRed;
                    color: #fff;
                }
            }
        }
    }
}
.footerCopy {
    background: $darkest;
    padding: 20px;
    text-align: center;
    color: $pGrey;
    a {
        color: #fff;
        text-decoration: none;
    }
}
//media query for large screens including PSD specficications
@media (min-width: 1280px) and (max-width: 1920px) {
    .footerTop .footerContainer {
        .footerFourth {
            width: calc(25% - 15px);
            h4 {
                font-size: 2.4rem;
            }
            p {
                font-size: 1.6rem;
            }
            form {
                input[type=email], 
                input[type=submit] {
                    font-size: 1.2rem;
                }
            }
        }
    } 
    .footerCopy {
        font-size: 1.3rem;
    }
}
//media query for mid range screen sizes ie tablet
@media (max-width: 1000px) { /* breakpoint */
    .footerTop .footerContainer {
        width: 80%;
    }
}
@media (max-width: 815px) {
    .footerTop .footerContainer {
        .footerFourth {
            width: calc(50% - 10px);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;    
        }
    }
}
//media query for mobile screen sizes 
@media (max-width: 480px) {
    .footerTop .footerContainer {
        width: 80%;
        .footerFourth {
            width: 100%;
            p {
                font-size: 1.2rem;
            } 
        }
    }
}