section#home {
    background: linear-gradient(90deg, $backYellow 50%, $backYellowDark 50%);
}
#home .wrapper {
    flex-direction: row;
    position: relative;
}
.homeLeft {
    width: 50%;
    position: relative;
    h1 {
        margin-top: 110px;
        margin-bottom: 40px;
        font-size: 4.8rem;
        text-transform: uppercase;
        line-height: 45px;
        font-weight: 300;
        color: #fff;
        span {
            font-weight: 700;
            color: $textBlack;
            letter-spacing: 1.5;
        }
    }
    .descHead {
        width: 80%;
        font-size: 1.2rem;
        font-weight: 300;
        color: $textBlack;
        text-align: left;
        line-height: 2;
        margin-bottom: 45px;
    }
    .buttonWhite {
        margin-bottom: 30%;
    }
    a.buttonWhite:hover {
        background: #fff;
        color: $textBlack;
    }
}
.homeLeft::after {
    @include leftTriangle($backYellow);
}
.homeRight {
    width: 50%;
    position: relative;
    .homeImgContainer {
        position: absolute;
        width: 135%;
        top: 29%;
        left: -24%;
        img {
            width: 100%;
        }
    }
}
.homeRight::after {
    @include rightTriangle($backYellowDark);
}
.dotNav {
    width: fit-content;
    width: -moz-fit-content;
    display: flex;
    position: absolute;
    top: 92%;
    left: calc(50% - 30px);
    .dot {
        display: block;
        height: 10px;
        width: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 5px;
    }
    .dot:focus {
        border-color: $darkest;
    }
    .dot:hover {
        border-color: $darkest;
    }
}
//media query for larger screen sizes 
@media (min-width: 1280px) and (max-width: 1920px) {
    .homeLeft h1 {
        font-size: 8rem;
        line-height: 65px;
        margin-top: 200px;
    }
    .homeLeft .descHead {
        font-size: 2rem;
    }

}
@media (max-width: 815px) {
    .homeRight {
        .homeImgContainer {
            top: 35%;
            left: -10px;
        }
    }
}

//media query for lanscape phones and down
@media (max-width: 480px) {
    #home .wrapper {
        flex-direction: column;
    }
    .homeLeft {
        width: 100%;
        text-align: center;
        h1 {
            margin-bottom: 0;
            font-size: 3.6rem;
        }
        .descHead {
            margin: 10px auto;
            text-align: center;
        }
        .buttonWhite {
            margin: 10px auto;
        }
    }
    .homeLeft::after {
        content: "";
        border-color: transparent;
    }
    .homeRight {
        width: 100%;
        .homeImgContainer {
            position: relative;
            top: 0;
            left: 10%;
            img {
                display: block;
                width: 60%;
                // margin: 0 auto;
            }
        }
    }
    .homeRight::after {
        content: "";
        border-color: transparent;
    }
}