section.location {
    background: linear-gradient(90deg, $backYellow 50%, $backYellowDark 50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    .sectionTop {
        padding: 5% 0;
        text-align: center;
        position: relative;
        .wrapper {
            h4 {
                color: #fff;
                font-size: calc(1rem + 1.6vw);
                margin: 0;
            }
            h1 {
                color: $textBlack;
                font-size: calc(1rem + 3.6vw);
                border: 0.5vw solid #fff;
                padding: 10px 5rem;
                margin: 5px auto;
            }
            p {
                color: $textBlack;
                font-size: calc(1rem + 1vw);
                font-weight: 300;
                text-transform: capitalize;
                margin: 5px;
            }
        }
    }
    .sectionTop::before {
        @include leftTriangle($backYellow);
        left: calc(50% - 25px);
    }
    .sectionTop::after {
        @include rightTriangle($backYellowDark);
        left: 50%;
    }
    .sectionBottom {
        width: 100%;
        img {
            width: 100%;
            display: block;
        }
    }
}