section#portfolio {
    background: $darkGrey;
    padding: 50px 0;
    .portfolioTop {
        width: 61%;
        margin: 0 auto;
        .portfolioNav {
            text-align: center;
            width: fit-content;
            width: -moz-fit-content;
            margin: 50px auto;
            margin-bottom: 30px;
            ul {
                padding: 0;
                margin: 10px;
                display: flex;
                list-style-type: none;
                a {
                    padding: 20px 15px;
                    font-size: 0.72rem;
                    font-weight: 700;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: font-size 0.5s ease;
                }
                a:hover {
                    color: $textRed;
                    font-size: 1rem;
                }
            }
        }
    }
    .portfolioGallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .galleryItem {
            width: 25%;
            img {
                width: 100%;
                display: block;
                position:relative;
                z-index: 1;
            }
            figcaption {
                display: block;
                background: #fff;
                font-size: 0.72rem;
                font-weight: 700;
                color: $textBlack;
                text-transform: uppercase;
                text-align: center;
                padding: 20px;
                position: relative;
                z-index: 0;
            }
            figcaption::before {
                content:"";
                display: inline-block;
                height: 0;
                width: 0;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent #fff transparent;
                position: absolute;
                top: -9px;
                left: calc(50% - 5px);
            }
        }
        .galleryItem:hover img {
            animation: spinPic 0.7s forwards;
            z-index: 100;
        }
    }
    .portfolioBottom {
        width: 61%;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            background: transparent;
            color: #fff;
        }
        button:hover {
            background: #fff;
            color: $textBlack;
        }
    }
}
//media query for large screen sizes up to and including PSD width
@media (min-width: 1280px) and (max-width: 1920px) {
    section#portfolio {
        .portfolioTop .portfolioNav ul li {
            a {
                font-size: 1.2rem;
                transition: font-size 0.5s;
            }
            a:hover {
                font-size: 1.4rem;
            }
        }
        .portfolioGallery {
            .galleryItem figcaption {
                font-size: 1.2rem;
            }
        }
    }
}
//media query for medium screen sizes 
@media (max-width: 815px) {
    section#portfolio {
        .desc {
            width: 80%;
        }
        .portfolioGallery {
            .galleryItem {
                width: 50%;
                img {
                    transition: all 0.5s ease;
                }
                figcaption {
                    font-size: 1.2rem;
                }
            }
            .galleryItem:hover img {
                animation: none;
                transform: scale(1.5);
            }
        }
    }
}
//media query for mobile screens
@media (max-width: 480px) {
    section#portfolio {
        .portfolioTop .portfolioNav {
            ul {
                margin: 10px 0;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    margin: 5px;
                    a {
                        margin: 5px;
                        padding: 10px 5px;
                    }
                    a:hover {
                        color: $textRed;
                        font-size: 0.72rem;
                    }
                }
            }
        }
        .portfolioGallery {
            .galleryItem {
                width: 80%;
                margin: 0 auto;
            }
            .galleryItem:hover img {
                transform: none;
            }
        }
    }
}