section.projects {
    background: $darkGrey;
    .wrapper {
        padding-top: 50px;
        .projContainer {
            width: 70%;
            margin: 0 auto;
            margin-top: 60px;
            position: relative;
            img {
                width: 100%;
                display: block;
                border-radius: 6px 6px 0 0;
                border-top: 10px solid #efefef; 
            }
        }
        .projContainer::before {
            content: "<";
            color: #fff;
            font-size: 2.4rem;
            font-weight: 300;
            position: absolute;
            top: 40%;
            left: -22%;
        }
        .projContainer::after {
            content: ">";
            color: #fff;
            font-size: 2.4rem;
            font-weight: 300;
            position: absolute;
            top: 40%;
            right: -22%;
        }
    }
}