section.team {
    background: $darkest;
    .wrapper {
        padding: 50px 0;
        .desc {
            margin-bottom: 70px;
        }
        .desc::after {
            content: "";
            width: 102px;
            border-bottom: 1px solid $pGrey;
            height: 10px;
            position: absolute;
            left: 37%;
            bottom: -30px;
        }
        //bottom section with team member pics
        .teamCards {
            width: 100%;
            padding-top: 25%;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .teamMember {
                width: 23%;
                background: $teamGrey;
                border-bottom: 10px solid $underRed;
                img {
                    width: 100%;
                }
                .socialIcons {
                    display: flex;
                    justify-content: center;
                    margin: 15px auto;
                    .icon {
                        width: 15%;
                        color: #fff;
                        // font-size: 1.2rem;
                        i {
                            display: block;
                            margin: 7px auto;
                        }
                    }
                    .icon2 {
                        margin: 0 10px;
                    }
                    .facebook {
                        background: $colorFb;
                    }
                    .google {
                        background: $colorGoogle;
                    }
                    .twitter {
                        background: $colorTwitter;
                    }
                    .linkdin {
                        background: $colorLinkd;
                    }
                    .flickr {
                        background: $colorFlickr;
                    }
                    .dribble {
                        background: $colorDrib;
                    }
                    .pinterest {
                        background: $colorPin;
                    }
                }
            }
        }
    }
    .greenSection {
        width: 100%;
        background: linear-gradient(90deg, $backGreen 50%, $backGreenDark 50%);
        position: relative;
        .wrapper {
            padding: 30px 0;
            .iconCards {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                .card {
                    width: 21%;
                    .cardImg {
                        width: 60%;
                        height: 36%;
                        margin: 0 auto;
                        text-align: center;
                        img {
                            height: 100%;
                            padding-top: 10px;
                        } 
                    }
                    .cardBottom {
                        padding: 5px;
                        h5 {
                            font-family: $fontSecondary;
                            font-size: 3.6rem;
                            font-weight: 700;
                            line-height: 33px;
                            margin: 10px 0;
                        }
                        .buttonWhite {
                            margin: 5px auto;
                        }
                    }
                }
            }
        }    
    }
    .greenSection::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 25px 0;
        border-color: transparent $backGreen transparent transparent;
        position: absolute;
        bottom: -25px;
        left: calc(50% - 25px); 
    }
    .greenSection::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 25px 0 0;
        border-color: $backGreenDark transparent transparent transparent;
        position: absolute;
        bottom: -25px;
        left: 50%;
    }   
}
