section.team {
    background: $darkest;
    .wrapper {
        padding: 50px 0;
        .desc {
            margin-bottom: 70px;
        }
        //bottom section with team member pics
        .teamCards {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .teamMember {
                width: 23%;
                background: $teamGrey;
                border-bottom: 10px solid $underRed;
                img {
                    width: 100%;
                }
                //social icons styled by utility class
            }
        }
    }
    .greenSection {
        width: 100%;
        background: linear-gradient(90deg, $backGreen 50%, $backGreenDark 50%);
        position: relative;
        .wrapper {
            padding: 30px 0;
            .iconCards {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                .card {
                    width: 21%;
                    .cardImg {
                        width: 60%;
                        height: 36%;
                        margin: 0 auto;
                        text-align: center;
                        img {
                            height: 100%;
                            padding-top: 10px;
                        } 
                    }
                    .cardBottom {
                        padding: 5px;
                        h5 {
                            font-family: $fontSecondary;
                            font-size: 3.6rem;
                            font-weight: 700;
                            line-height: 33px;
                            margin: 10px 0;
                        }
                        .buttonWhite {
                            margin: 5px auto;
                        }
                    }
                }
            }
        }    
    }
    .greenSection::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 25px 0;
        border-color: transparent $backGreen transparent transparent;
        position: absolute;
        bottom: -24px;
        left: calc(50% - 25px); 
    }
    .greenSection::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 25px 0 0;
        border-color: $backGreenDark transparent transparent transparent;
        position: absolute;
        bottom: -24px;
        left: 50%;
    }   
}
//media query for large screen size including PSD specifications
@media (min-width: 1280px) and (max-width: 1920px) {
    section.team .greenSection .wrapper {
        padding: 80px 0;
        .iconCards .card {
            .cardImg {
                width: 64%;
                height: 40%;
            }
            .cardBottom h5 {
                font-size: 6rem;
                margin: 20px;
            }
            .cardBottom .buttonWhite {
                margin-top: 15px;
            }
        }
    } 
}

//media query for mid-sized screens 
@media (max-width: 815px) {
    section.team .wrapper {
        width: 70%;
        .desc {
            width: 70%;
        }
        .teamCards {
            flex-wrap: wrap;
            .teamMember {
                width: 45%;
                margin-bottom: 15px;
            }
        }
    }
    section.team .greenSection .wrapper {
        .iconCards {
            flex-wrap: wrap;
            .card {
                width: 45%;
                margin-bottom: 15px;
                .cardBottom .buttonWhite {
                    padding: 5px 10px;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

//media query for mobile screens 
@media (max-width: 480px) {
    section.team .wrapper {
        .teamCards .teamMember {
            width: 90%;
            margin: 10px auto;
        }
    }
    section.team .greenSection .wrapper {
        .iconCards {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            .card {
                width: 50%;
                .cardImg {
                    border: 1px solid green;
                    img {
                        width: 100%;
                        border: 2px solid pink;
                    }
                }
                .cardBottom .buttonWhite {
                    margin-top: 10px;
                    padding: 5px 10px;
                    font-size: 1.4rem;
                }
            }
            .card2 {
                .cardImg {
                    width: 45%;
                }
            }
        }
    }
}