@import 'typography';
//background color variables
$lightWhite: #FCFCFC;
$darkWhite: #F7F7F7;
$backYellow: #F7CD69;
$backYellowDark: #EFC765;
$darkGrey: #303030;
$middleGrey: #3B3B3B;
$darkest: #1F1F1F;
$backRed: #FA7072;
$backRedDark: #F26C6E;
$backGreen: #A8CF69;
$backGreenDark: #A3C866;
//accent color variables
$underYellow: #F7CD69;
$underRed: #FA7072;
$underGreen: #A8CF69;
$teamGrey: #2A2A2A;



//GLOBAL STYLES
.wrapper {
    width: 61%;
    max-width: 1170;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.buttonWhite {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    color: $textBlack;
    font-size: 0.72rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #fff;
}


